*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    margin-left: 30%;
    margin-top: 10%;
    filter: drop-shadow(1px 2px 3px rgb(182,182,241));
}