*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    padding-top: 10%;
    text-align: center;
    background: linear-gradient(90deg , blue, red);
}
h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
}
table{
    margin: auto;
}
th{
    font-size: 1.5rem;
    color: white;
}
input{
    font-size: 1.2rem;
}
button{
    margin-top: 2rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    border: none;
    margin-right: 12px;
    letter-spacing: 1px;
}
button:hover{
    background-color: rgb(225, 222, 220);
}
p{
    color: white;
   font-size: 1.5rem;
   margin: 1.5rem 0;
}
.cntDown{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.d div{
    width: 7rem;
    padding: 1rem 2rem;
    background-color: white;
    font-size: 4rem;
    color: black;
    border-radius: 10px;
}
.d{
    margin-top: 1rem;
    padding: 0.5rem;
    animation: floatUp 2s ease-in-out infinite;
}
.d1{
    animation: floatDown 2s ease-in-out infinite;
}

@keyframes floatUp{
    0%, 100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes floatDown{
    0%, 100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}